.resize{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  .conteneur{
    grid-column: 1 / 14;
    padding: 15px;
    width: 100%;
    column-count: 6;
    @media (min-width: 1367px ){
      column-count: 8;
    }
    @include media-breakpoint-down(md){
      column-count: 4;
    }
    @include media-breakpoint-down(sm){
      column-count: 2;
    }

    column-gap: 1em;
    a{
      display: block;
      margin-bottom: 20px;
      img{
        display: inline-block;
        width: 100%;
      }
    }
  }
}
